# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
env/
*.egg-info/
.ipynb_checkpoints

# Data files
data/raw/*.csv
data/raw/*.zip
*.csv
*.zip

# OS
.DS_Store
._*
Thumbs.db

# IDEs
.vscode/
.idea/

# Large files
*.pdf
